<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-margin"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-grid class="ion-padding ion-margin">
    <form [formGroup]="ionselectform" action="#">
    <ion-row id="month-wrapper" class="ion-padding ion-margin">
      <ion-col size="7" class="ion-padding ion-margin">
        <ion-select id="monthSelector" mode="md"
          placeholder="Choose a month"
          interface="action-sheet"
          formControlName="birthmonth"
          [interfaceOptions]="customActionSheetOptions"
          aria-describedby="accessibilityError"
          [attr.aria-label]="ionSelectAriaLabel">
          @for (month of months; track month.id) {
          <ion-select-option [value]="month.id" [attr.aria-label]="month.name">{{ month.name }}</ion-select-option>
          }
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row id="inputRow" class="input-wrapper">
      <ion-col id="inputCol" class="input-wrapper-2">
        <ion-input id="inputField" class="firstname-input" type="text" placeholder="Enter your first name"
          formControlName="firstname" aria-describedby="accessibilityError" [attr.aria-label]="inputAriaLabel"
          autocapitalize="off" autocorrect="off" spellcheck="false">
        </ion-input>
      </ion-col>
    </ion-row>
  </form>
  
  @if (ionselectform.get('birthmonth')?.value !== null) {
  <p>You selected: {{ selectedMonthName }}</p>
  }
</ion-grid>
</ion-content>
