/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/*
 * Ionic CSS is automatically included via provideIonicAngular() in main.ts
 * No manual CSS imports needed for Ionic 8
 */

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-input {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
  font-size: large !important;
}

.my-custom-class {
    .action-sheet-group {
        .action-sheet-button {
            --background: var(--ion-color-primary);
            --color: var(--ion-color-light);
        }
    }

    // .action-sheet-group.sc-ion-action-sheet-md {
    //         --background: var(--ion-color-secondary);
    //         --color: var(--ion-color-light);
    // }

    .action-sheet-title {
        --color: var(--ion-color-primary);
    }

    .action-sheet-button {
        --background: var(--ion-color-secondary);
        --color: var(--ion-color-light);
    }

    .action-sheeet-selected {
        --background: var(--ion-color-success);
        --color: var(--ion-color-light);
    }

    .action-sheet-button-inner {
        --background: var(--ion-color-secondary);
        --color: var(--ion-color-light);
    }

    .action-sheet-cancel {
        background: var(--ion-color-tertiary);
        --color: var(--ion-color-light);
        --border-radius: 10px;
        height: 50px;

        .action-sheet-button-inner {
            background: var(--ion-color-tertiary);
            --color: var(--ion-color-light);
        }
    }

    .action-sheet-container {
        padding: 20px;
    }
}